# Autotools

miniclient/src/Makefile.in
miniclient/src/Makefile
miniclient/src/.deps
miniclient/autom4te.cache
miniclient/aclocal.m4
miniclient/compile
miniclient/configure
miniclient/depcomp
miniclient/install-sh
miniclient/missing
miniclient/stamp-h1
miniclient/config.*
miniclient/Makefile.in
miniclient/Makefile
miniclient/ltmain.sh
miniclient/libtool

# Object files
*.o
*.lib
*.so
*.lo
*.la
*.pyc

# Temp files
*.swp
*~

# Binaries
miniclient/src/miniclient
nohup.out
