# it is recommend you use /dev/serial/by-path/ especially
# if you use multiple usb -> serial adapters

# Udev rules can also be used, but require more configuration

[AzurService]
tty = /dev/ttyUSB0
model = 340R

[Azur1Service]
tty = /dev/ttyUSB0
model = 351R

[LgtvService]
tty = /dev/ttyUSB1
model = MD27

[PioneerService]
tty = /dev/ttyS0
model = KRL-32V

[ArcamService]
tty = /dev/ttyS1
model = XXX

[mqtt]
host = mybrocker.lan
port = 1883
keepalive = 60
