[Unit]
Description = Starts rs232server

[Service]
Type=dbus
BusName=uk.co.madeo.rs232server
ExecStart=/usr/bin/rs232server
User=brendan
Group=brendan

[Install]
WantedBy = multi-user.target
