[Desktop Entry]
Name=rs232server
Comment=control rs232 devices over dbus
Exec=rs232server.py
Terminal=false
Type=Application
Categories=System;Settings;
NoDisplay=true
